root = True

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = True
trim_trailing_whitespace = True

[*.py]
max_line_length = 100

[*.{js,json}]
indent_size = 2

[*.{yml,yaml,md}]
indent_size = 2

[*.xml]
insert_final_newline = False

[Makefile]
indent_style = tab
