hypothesis~=6.54.4

pytest~=7.1.1
pytest-asyncio
pytest-cov~=3.0.0
pytest-timeout~=2.1.0

nitpick~=0.32.0
pre-commit~=2.20.0
pre-commit-hooks~=4.3.0
wemake-python-styleguide~=0.16.1

autoflake~=1.4
autopep8~=1.6.0
docformatter~=1.4
isort~=5.10.1
